extends ../layout.jade

block content
	script(src='jquery-latest.js', type="text/javascript")
	script(language='JavaScript').
		$(function(){
			$(".edit").click(function(event){
				var $this = $(this);
				var text = $this.text();
				var pid = "."+event.target.id;
			
				if(text=="Edit"){
					$this.text("Cancel");
					$(pid).replaceWith(function(){
						
						 return $("<input type='text' class="+this.className+" value='"+$(this).html()  +"'  name='"+this.id +"'/>").val($(this).html());
					});
				}
				else{
					$this.text("Edit");
					$(pid).replaceWith(function(){
						
						return $('<span class='+this.className+' id='+this.name +'/>').append(this.value);
					});
				}
				
			});
		});

	.menu
		h2 Menu
		ul.nav.nav-pills
			li
				a(href="/makes") Make
			li
				a(href="/models") Model
			li.active
				a(href="/products") Products

	h1= title

	div.container
		div.row
			div.col.md8
				form(action="/products", method="get")
					div.span3
						label Make: 	
						select(name='makeId')
							option(value='NONE')= 'All'
							each make,index in makes
								option(value=make._id)= make.name
					div.span2
						label Model:
						select(name='modelId')
							option(value='NONE')= 'All'
							each model,index in models
								option(value=model._id)= model.name
					
					div.span2
						button.btn.btn-link.glyphicon.glyphicon-search(type="submit") Search
				
				//div.span2.offset8	
				a.glyphicon.glyphicon-plus( href="/createproduct" ) New
	br
	.list
		div.container
			div.row
				div.col.md12
					div.panel.panel-default
						div.panel-heading.panel-primary
							div.row
								h4
									div.span1
									div.span1 No
									div.span2 SKUID
									div.span2 Name
									div.span2 Make
									div.span2 Model
						div.panel-body
							each product, index in products
								.item
									form(action="/products/"+product._id, method="post")
										div.row-fluid
											//div.accordion-toggle(data-toggle="collapse", data-target="##{product.SKUID}")
											div.span1.glyphicon.glyphicon-plus-sign(data-toggle="collapse", data-target="##{product.SKUID}")
											div.span1= index+1
											div.span2= product.SKUID
											div.span2= product.name
											div.span2= product.makeId.name
											div.span2= product.modelId.name
											//onclick='editproduct(product._id)'		
										div.row-fluid.collapse.in(id=product.SKUID)
											div.span8.offset2
												label Description:  
												span2(class="#{product._id}", id="description")= product.description
												//input.editable_textarea(type="text" name="description" readOnly="true" value="#{product.description}")
												br
												label Price: 
												span2(class="#{product._id}", id="price")= product.price
												//input.editable_textarea#price= product.price
												br
												label Color: 
												span2(class="#{product._id}", id="color")= product.color
												br
												label Rack Id: 
												span2(class="#{product._id}", id="rackId")= product.rackId
												br
												label Manufacturing Date: 
												span2(class="#{product._id}", id="manufacturingDate")= (product.manufacturingDate != '') ? moment(product.manufacturingDate).format("MMM Do YYYY") : ''
												br
												label Inventory Start Date: 
												span2(class="#{product._id}", id="inventoryStartDate")= (product.inventoryStartDate != '') ? moment(product.inventoryStartDate).format("MMM Do YYYY") : ''
												br
												label Sold Date: 
												span2(class="#{product._id}", id="soldDate")= (product.soldDate != '') ? moment(product.soldDate).format("MMM Do YYYY") : ''
												br
											div.span2
												button.btn.btn-link.edit.glyphicon.glyphicon-edit(id="#{product._id}", type="button") Edit
											div.span1
												button.btn.btn-link.glyphicon.glyphicon-save(type="submit") Save
									hr