extends ../layout.jade
    
block content

	.menu
		h2 Menu
		ul.nav.nav-pills
			li.active
				a(href="/makes") Make
			li
				a(href="/models") Model
			li
				a(href="/products") Products

	h1= title

	.list
		div
			table.table.table-striped
				thead
					tr
						th No
						th Name
						th Start Date
						th Revenue
						th Stock Price
						th Headquaters
				tbody
					each m, index in makes
						.item
							tr
								td= index+1
								td= m.name
								td= m.startYear
								td= m.revenue
								td= m.stockPrice
								td= m.hq